.statistics {
  text-align: center;
}
.title {
  font-weight: 300;
  font-size: 25px;
  line-height: 60px;
  background-color: #f1f1f1;
  color: #555d6b;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.statList {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  color: rgb(39, 39, 39);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.item {
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .statList .item:not(:last-child) {
  margin-right: 10px;
} */
